
$color-primary: #fabe28; //#3a6bc4;

.topic-icon{
    background-color:#424242;
    border-radius: 50%;
    padding: 5px;
    // border: 2px dotted $color-primary;
    color: $color-primary;
    // outline: 2px dotted $color-primary;
      width: 35px;
      height: 35px;
      margin-right: 10px;
} 