@charset 'UTF-8';
// Fonts:
$font-primary: 'Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;'; //'Lora',Georgia,serif;
// Colors:
$color-primary: #fabe28; // 3a6bc4;
#works-list {
    background-color: white;
}

.masonry-item {
    .image-box {
        .image {
            background-color: white;
        }
    }
}
.panel-body{
    a{
        font-weight: bold;
    }
}

@import "_base";